$shadow-nav: 0px 0px 18px 6px rgba(0, 0, 0, 0.04);
$shadow-post-box: 0px 0px 18px 6px rgba(0,0,0,0.15);
$percentSymb: "%";
$AllHeightExceptFooter: calc(100vh - 54px);
$color-google: #4285F4;
$color-facebook: #1B74E4;
